<div class="row">
  <div class="col-md-12">
    <form>
      <div class="input-group no-border">
        <input type="text" class="form-control" placeholder="Ingrese su documento de identidad" #numberId
          (keyup)="validateInfoAlert( $event, numberId.value )">
        <div class="input-group-append">
          <div class="input-group-text">
            <i class="nc-icon nc-zoom-split" (click)="verifyData( numberId.value )" style="cursor: pointer"></i>
          </div>
        </div>
      </div>
    </form>

    <hr>

    <div class="card" *ngIf="showInfo">

      <div class="card-header">
        <h4 class="card-title">Se han encontrado las siguientes Multas: </h4>
      </div>

      <div class="card-body">

        <div class="table-responsive">
          <table class="table">
            <thead [ngClass]="{ 'text-danger': showInfo }">
              <th *ngFor="let item of headers">
                {{ item.id }}
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let item of body">
                <td>
                  {{ item.id }}
                </td>
                <td>
                  {{ item.name }}
                </td>
                <td>
                  {{ item.lastaName }}
                </td>
                <td>
                  {{ item.apearing }}
                </td>
                <td>
                  {{ item.money }}
                </td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="showOptions()">Pagar ahora</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div class="card-body">
      <div class="row">
        <div class="col-md-12">

          <div class="card card-plain">
            <div class="card-body">

              <div class="alert alert-danger text-center" *ngIf="showInfo">
                <span>Por favor, estas son tus multas, pagalas o mira otra alternativa para poder quedar sin
                  multas!</span>
              </div>

              <div class="alert alert-success text-center" *ngIf="showInfoSuccess">
                <span>No tienes multas, con el numero de identidad que ingresaste!</span>
              </div>

              <div class="alert alert-info text-center" *ngIf="showInfoValidInput">
                <span>Por favor, ingresa un numero de identidad para poder verificar, si existen multas
                  asociadas!</span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
