<div class="row">
  <div class="col-md-12">

    <div class="card">

      <div class="card-header">

        <h5 class="title">Elige como te gustaria, pagar la multa o si es el caso, tomar el curso!</h5>

      </div>

      <div class="card-body">
        <div class="containern text-center">
          <button class="btn btn-success" type="button" (click)="validateClick('pse')">PSE</button>
          <button class="btn btn-info" type="button" (click)="validateClick('curso')">CURSO</button>
          <button class="btn btn-outline-info" type="button" (click)="validateClick('chat')">CHAT</button>
        </div>
      </div>

    </div>
  </div>
</div>
